{% extends 'base/base.html' %}
{% load staticfiles %}
{% load materializecss %}
{% block content %}

<div class="container">
    <br>
    <div class="row center">
        <h1>Lista de Rescatados</h1>
    </div>
    {% if rescatados %}
    {% for rescatado in rescatados %}
    <div class="row ">
        <div class="divider"></div>

        <div class="col s3">
            <img src="{% static '{{ rescatado.fotografia }}' %}" alt="rescatado">
            
            
            <br>
            
        </div>

        <div class="col s9">


            <h5>{{ rescatado.nombre }} -- {{ rescatado.raza }}</h5>
            <br>
            <i>{{ rescatado.descripcion }}</i>
            <br><br>
            {{ rescatado.estado }}
            <br><br>
            {% if request.user.is_superuser %}
            <a class="btn waves-effect waves-light green" href="{% url 'rescatado_editar' rescatado.id %}">Editar</a>
            <a class="btn waves-effect waves-light red" href="{% url 'rescatado_eliminar' rescatado.id %}">Eliminar</a>
            {% endif %}
            <a class="btn waves-effect waves-light blue" href="">Adoptar</a>
        </div>


    </div>

    {% endfor %}

    {% else %}
    <h1>No hay registros de rescatados</h1>

    {% endif %}
</div>

{% endblock %}